In [51]:
import numpy as np,pandas as pd

In [52]:
df = pd.read_excel('Round 3 Dataset.xlsx','Sheet14', header=1)

In [53]:
df.head()

,Month,Details,BANK OF BARODA,BANK OF INDIA,BANK OF MAHARASHTRA,CANARA BANK,CENTRAL BANK OF INDIA,INDIAN BANK,INDIAN OVERSEAS BANK,PUNJAB AND SIND BANK,...,EQUITAS SMALL FINANCE BANK LTD,ESAF SMALL FINANCE BANK LTD,FINCARE SMALL FINANCE BANK LTD,JANA SMALL FINANCE BANK LTD,NORTH EAST SMALL FINANCE BANK LTD,SHIVALIK SMALL FINANCE BANK LTD,SURYODAY SMALL FINANCE BANK LTD,UJJIVAN SMALL FINANCE BANK LTD,UNITY SMALL FINANCE BANK LTD,UTKARSH SMALL FINANCE BANK LTD
0,2023-01-01,Total Outstanding Debit Cards,8.069609e+07,4.682490e+07,1.327146e+07,4.958930e+07,2.802955e+07,2.904223e+07,1.610262e+07,3.633066e+06,...,3.237558e+06,4.920739e+06,4.249826e+06,2.668149e+06,381660.00000,88305.0000,557093.00000,8.416877e+06,0.0,1515458.000
1,2023-01-01,POS Volume Actual,6.606778e+06,4.362722e+06,1.836309e+06,9.080661e+06,2.804597e+06,5.072748e+06,3.373955e+06,6.518570e+05,...,2.456050e+05,2.576210e+05,4.830000e+04,5.485800e+04,13372.00000,6341.0000,19072.00000,3.018460e+05,0.0,36601.000
2,2023-01-01,POS Value (in '000 Rs),1.311466e+07,7.660196e+06,2.878445e+06,1.934527e+07,6.212433e+06,1.001265e+07,6.374055e+06,1.478384e+06,...,4.126236e+05,3.439301e+05,6.234635e+04,9.252018e+04,18587.16092,14452.7031,25513.86719,4.623412e+05,0.0,61945.142
3,2023-01-01,ECOM Volume in Actuals,2.267410e+06,1.597922e+06,6.960530e+05,1.991696e+06,5.081680e+05,2.032739e+06,9.368040e+05,1.079090e+05,...,7.500200e+04,1.706800e+04,5.817000e+03,8.146000e+03,0.00000,5265.0000,2055.00000,1.172650e+05,0.0,9811.000
4,2023-01-01,ECOM Value (in '000 Rs),5.713638e+06,2.554862e+06,1.060807e+06,4.372541e+06,1.170727e+06,3.516056e+06,1.696393e+06,3.605990e+05,...,3.020629e+05,3.398585e+04,1.094422e+04,1.895707e+04,0.00000,16136.5541,5407.38912,2.592879e+05,0.0,21930.590

In [54]:
df.shape

(84, 63)

In [55]:
df.isnull().sum()

Month                              0
Details                            0
BANK OF BARODA                     0
BANK OF INDIA                      0
BANK OF MAHARASHTRA                0
                                  ..
SHIVALIK SMALL FINANCE BANK LTD    0
SURYODAY SMALL FINANCE BANK LTD    0
UJJIVAN SMALL FINANCE BANK LTD     0
UNITY SMALL FINANCE BANK LTD       0
UTKARSH SMALL FINANCE BANK LTD     0
Length: 63, dtype: int64

In [56]:
85*63

5355

In [57]:
85/7

12.142857142857142

In [58]:
13*63

819

In [59]:
df['Details'].unique()

array(['Total Outstanding Debit Cards', 'POS Volume Actual',
       "POS Value (in '000 Rs)", 'ECOM Volume in Actuals',
       "ECOM Value (in '000 Rs)", 'ATM Volume Actual',
       "ATM Value (in '000 Rs)"], dtype=object)

In [60]:
melted_df = pd.melt(df, id_vars=['Month', 'Details'], var_name='Bank', value_name='Value')
pivot_df = melted_df.pivot_table(index=['Month', 'Bank'], columns='Details', values='Value').reset_index()
pivot_df.columns.name = None
pivot_df = pivot_df.reset_index(drop=True)

print(pivot_df)

         Month                                  Bank  ATM Value (in '000 Rs)  \
0   2023-01-01                  AIRTEL PAYMENTS BANK            1.500000e+00
1   2023-01-01  AMERICAN EXPRESS BANKING CORPORATION            0.000000e+00
2   2023-01-01             AU SMALL FINANCE BANK LTD            6.308578e+06
3   2023-01-01                         AXIS BANK LTD            1.275139e+08
4   2023-01-01                      BANDHAN BANK LTD            1.331639e+07
..         ...                                   ...                     ...
727 2023-12-01                   UNION BANK OF INDIA            1.420698e+08
728 2023-12-01          UNITY SMALL FINANCE BANK LTD            8.000000e+01
729 2023-12-01        UTKARSH SMALL FINANCE BANK LTD            1.472319e+06
730 2023-12-01                            WOORI BANK            6.400400e+03
731 2023-12-01                          YES BANK LTD            1.339487e+07

     ATM Volume Actual  ECOM Value (in '000 Rs)  ECOM Volume in Actuals  \
0                  3.0             1.931672e+05                254817.0
1                  0.0             0.000000e+00                     0.0
2             979181.0             6.626563e+05                251550.0
3           20730852.0             1.312528e+07               3986633.0
4            2584931.0             6.284796e+05                215592.0
..                 ...                      ...                     ...
727         46149142.0             5.935776e+06               2781827.0
728               31.0             4.450000e+00                     4.0
729           365218.0             2.880152e+04                 12735.0
730              876.0             3.307250e+03                  1020.0
731          2903242.0             1.094211e+06                233336.0

     POS Value (in '000 Rs)  POS Volume Actual  Total Outstanding Debit Cards
0              0.000000e+00                0.0                      3817705.0
1              0.000000e+00                0.0                            0.0
2              6.092257e+05           238273.0                      2425014.0
3              2.254061e+07          9329694.0                     28890599.0
4              1.189557e+06           476876.0                      5329042.0
..                      ...                ...                            ...
727            1.293831e+07          6160068.0                     54004328.0
728            3.927000e+00                7.0                           11.0
729            6.965492e+04            36322.0                      1806260.0
730            1.110948e+04             2985.0                          972.0
731            1.940099e+06           799555.0                      5179905.0

[732 rows x 9 columns]

In [61]:
pivot_df.head()

,Month,Bank,ATM Value (in '000 Rs),ATM Volume Actual,ECOM Value (in '000 Rs),ECOM Volume in Actuals,POS Value (in '000 Rs),POS Volume Actual,Total Outstanding Debit Cards
0,2023-01-01,AIRTEL PAYMENTS BANK,1.500000e+00,3.0,1.931672e+05,254817.0,0.000000e+00,0.0,3817705.0
1,2023-01-01,AMERICAN EXPRESS BANKING CORPORATION,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0
2,2023-01-01,AU SMALL FINANCE BANK LTD,6.308578e+06,979181.0,6.626563e+05,251550.0,6.092257e+05,238273.0,2425014.0
3,2023-01-01,AXIS BANK LTD,1.275139e+08,20730852.0,1.312528e+07,3986633.0,2.254061e+07,9329694.0,28890599.0
4,2023-01-01,BANDHAN BANK LTD,1.331639e+07,2584931.0,6.284796e+05,215592.0,1.189557e+06,476876.0,5329042.0

In [62]:
pivot_df.shape

(732, 9)

In [63]:
pivot_df.isnull().sum()

Month                            0
Bank                             0
ATM Value (in '000 Rs)           0
ATM Volume Actual                0
ECOM Value (in '000 Rs)          0
ECOM Volume in Actuals           0
POS Value (in '000 Rs)           0
POS Volume Actual                0
Total Outstanding Debit Cards    0
dtype: int64

In [64]:
pivot_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Month                          732 non-null    datetime64[ns]
 1   Bank                           732 non-null    object
 2   ATM Value (in '000 Rs)         732 non-null    float64
 3   ATM Volume Actual              732 non-null    float64
 4   ECOM Value (in '000 Rs)        732 non-null    float64
 5   ECOM Volume in Actuals         732 non-null    float64
 6   POS Value (in '000 Rs)         732 non-null    float64
 7   POS Volume Actual              732 non-null    float64
 8   Total Outstanding Debit Cards  732 non-null    float64
dtypes: datetime64[ns](1), float64(7), object(1)
memory usage: 51.6+ KB

In [65]:
bank_sector_mapping = {
    'BANK OF BARODA': 'Public',
    'BANK OF INDIA': 'Public',
    'BANK OF MAHARASHTRA': 'Public',
    'CANARA BANK': 'Public',
    'CENTRAL BANK OF INDIA': 'Public',
    'INDIAN BANK': 'Public',
    'INDIAN OVERSEAS BANK': 'Public',
    'PUNJAB AND SIND BANK': 'Public',
    'PUNJAB NATIONAL BANK': 'Public',
    'STATE BANK OF INDIA': 'Public',
    'UCO BANK': 'Public',
    'UNION BANK OF INDIA': 'Public',
    'AXIS BANK LTD': 'Private',
    'BANDHAN BANK LTD': 'Private',
    'CITY UNION BANK LTD.': 'Private',
    'CSB BANK LTD.': 'Private',
    'DCB BANK LTD': 'Private',
    'DHANALAKSHMI BANK LTD': 'Private',
    'FEDERAL BANK LTD': 'Private',
    'HDFC BANK LTD': 'Private',
    'ICICI BANK LTD': 'Private',
    'IDBI BANK LTD': 'Private',
    'IDFC FIRST BANK LTD': 'Private',
    'INDUSIND BANK LTD': 'Private',
    'JAMMU AND KASHMIR BANK LTD': 'Private',
    'KARNATAKA BANK LTD': 'Private',
    'KARUR VYSYA BANK LTD': 'Private',
    'KOTAK MAHINDRA BANK LTD': 'Private',
    'NAINITAL BANK LTD': 'Private',
    'RBL BANK LTD': 'Private',
    'SOUTH INDIAN BANK': 'Private',
    'TAMILNAD MERCANTILE BANK LTD': 'Private',
    'YES BANK LTD': 'Private',
    'AMERICAN EXPRESS BANKING CORPORATION': 'Foreign',
    'BANK OF AMERICA': 'Foreign',
    'BARCLAYS BANK PLC': 'Foreign',
    'CITI BANK': 'Foreign',
    'DBS INDIA BANK LTD': 'Foreign',
    'DEUTSCHE BANK LTD': 'Foreign',
    'HSBC LTD': 'Foreign',
    'SBM BANK INDIA LTD': 'Foreign',
    'STANDARD CHARTERED BANK LTD': 'Foreign',
    'WOORI BANK': 'Foreign',
    'AIRTEL PAYMENTS BANK': 'Payments',
    'FINO PAYMENTS BANK': 'Payments',
    'INDIA POST PAYMENTS BANK': 'Payments',
    'JIO PAYMENTS BANK ': 'Payments',
    'NSDL PAYMENTS BANK': 'Payments',
    'PAYTM PAYMENTS BANK': 'Payments',
    'AU SMALL FINANCE BANK LTD': 'Small Finance',
    'CAPITAL SMALL FINANCE BANK LTD': 'Small Finance',
    'EQUITAS SMALL FINANCE BANK LTD': 'Small Finance',
    'ESAF SMALL FINANCE BANK LTD': 'Small Finance',
    'FINCARE SMALL FINANCE BANK LTD': 'Small Finance',
    'JANA SMALL FINANCE BANK LTD': 'Small Finance',
    'NORTH EAST SMALL FINANCE BANK LTD': 'Small Finance',
    'SHIVALIK SMALL FINANCE BANK LTD': 'Small Finance',
    'SURYODAY SMALL FINANCE BANK LTD': 'Small Finance',
    'UJJIVAN SMALL FINANCE BANK LTD': 'Small Finance',
    'UNITY SMALL FINANCE BANK LTD': 'Small Finance',
    'UTKARSH SMALL FINANCE BANK LTD': 'Small Finance',
}


pivot_df['Bank Sector'] = pivot_df['Bank'].map(bank_sector_mapping)

In [66]:
pivot_df.shape

(732, 10)

In [67]:
pivot_df.head()

,Month,Bank,ATM Value (in '000 Rs),ATM Volume Actual,ECOM Value (in '000 Rs),ECOM Volume in Actuals,POS Value (in '000 Rs),POS Volume Actual,Total Outstanding Debit Cards,Bank Sector
0,2023-01-01,AIRTEL PAYMENTS BANK,1.500000e+00,3.0,1.931672e+05,254817.0,0.000000e+00,0.0,3817705.0,Payments
1,2023-01-01,AMERICAN EXPRESS BANKING CORPORATION,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,Foreign
2,2023-01-01,AU SMALL FINANCE BANK LTD,6.308578e+06,979181.0,6.626563e+05,251550.0,6.092257e+05,238273.0,2425014.0,Small Finance
3,2023-01-01,AXIS BANK LTD,1.275139e+08,20730852.0,1.312528e+07,3986633.0,2.254061e+07,9329694.0,28890599.0,Private
4,2023-01-01,BANDHAN BANK LTD,1.331639e+07,2584931.0,6.284796e+05,215592.0,1.189557e+06,476876.0,5329042.0,Private

In [68]:
pivot_df.to_excel('Final Data.xlsx')

In [69]:
pivot_df.isnull().sum()

Month                            0
Bank                             0
ATM Value (in '000 Rs)           0
ATM Volume Actual                0
ECOM Value (in '000 Rs)          0
ECOM Volume in Actuals           0
POS Value (in '000 Rs)           0
POS Volume Actual                0
Total Outstanding Debit Cards    0
Bank Sector                      0
dtype: int64